.lobby-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    font-family: Bahnschrift, sans-serif;
    position: absolute;
    bottom: 1rem;
}
